<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Web</title>
    <link rel="shortcut icon" href="img/iconRemington.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap" rel="stylesheet">

</head>

<body>
<header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Acerca de</a>
        <a href="#">Portafolio</a>
        <a href="#">Servicios</a>
        <a href="#">Contacto</a>
    </nav>
    <section class="textos-header">
        <h1>Recuerda</h1>
        <h2>Tu mayor talento es mucho más poderoso que tu mayor miedo.</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                                                                    style="height: 100%; width: 100%;">
        <path d="M0.00,49.99 C174.04,245.23 349.20,-49.99 501.35,135.69 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #fff;"></path>
    </svg>/>
</header>
<main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Lo puedes lograr</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Planifica tus tareas</h3>
                <p>Pon en una lista lo mas importante, para que de esta manera puedas a anticipar las necesidades y
                    los problemas e identificar las opciones disponibles contando con el tiempo suficiente.</p>
                <h3><span>2</span>Distrae tu mente</h3>
                <p>Es importante establecer un tiempo de ocio donde hagas actividades que te inspiren, para que de
                    esta manera tengas mas productividad en tus proyectos, el descanso es parte fundamental para
                    retomar con nuevas ideas.</p>
            </div>
        </div>
    </section>
</main>

</body>

</html>